body
{
    background-color: #e1ffe896; text-align: left;  display: inline-grid;
}

<<<<<<< HEAD
#social_Media
{
    
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
=======

>>>>>>> ad9f724b5c3202af30ab7e432a0a90cba9e566a2
