nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
  }
  
 nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  nav li {
    text-align: center;
    border-bottom: 1px solid #555;
  }
  
  nav li:last-child {
    border-bottom: none;
  }
  
  nav li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }


/* nav
{
    text-align: left;
    display: inline;
    margin:0px;
}

nav ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(4, 165, 185);
}
  
nav li 
{
    float: inherit;
    border-bottom: 1px solid #555;
    border-right-width: 3px;
}
  
nav li a 
{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover 
{
    background-color: #555;
    color: white;
}

.active 
{
    background-color: #2bcde2;
} */
  
